{% extends "base.html" %}

{% block content %}

<div class="picofus__text">
    <h3 class="picofus__zag">Максим Борисов</h3>
    <p class="picofus__desc">bedlamzd</p>
</div>

<div class="container-fluid">
    <div class="aboutus">
        <div class="picofus">
            <img src="{{SITEURL}}/img/{{MAIN_PIC}}">
        </div>
        <div class="container">
            <h3>Обо мне</h3>
            <hr>
            {{ page.content }}
            <div class="main__button">
                <a class="btn btn-dark btn-block" role="button"
                   href="{{'about.html' | format_siteurl }}">Подробнее</a>
            </div>
        </div>
    </div>
</div>

<!-- Карточки проектов -->
<h2 style="text-align: center;color: white;">Некоторые проекты</h2>
<div class="container-fluid deskwhite">
    <div class="container desk">

        <div class="row">
            {% for article in articles if article.category == 'projects' %}
            <div class="col col-6 col-md-3 col-sm-6 desk__product" style="margin-left: auto;margin-right: auto;">
                {% set url = article.redirect | default(article.url) %}
                <a href="{{ url | format_siteurl }}">
                    {% if article.thumb %}
                    <img src="{{article.thumb | expand_link(article)}}" class="desk__img">
                    {% else %}
                    <img src="{{SITEURL + '/img/' + DEFAULT_THUMB}}" class="desk__img" style="background: white">
                    {% endif %}
                    <div class="desk__text">
                        <h3 class="desk__zag">{{article.title}}</h3>
                        <p class="desk__desc">{{article.description|default('')}}</p>
                    </div>
                    <div class="desk__button">
                        <a class="btn btn-outline-warning btn-block" role="button"
                           href="{{url | format_siteurl }}">УЗНАТЬ
                            БОЛЬШЕ</a>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript" src="{{SITEURL}}/{{THEME_STATIC_DIR}}/slick/slick.min.js"></script>
<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/jsmain.js"></script>
{% endblock extra_scripts %}
