{% extends "base.html" %}
{% block content %}
<div class="container-fluid article">
    <div class="container article__header">
        <h1>{{ article.title }}</h1>
        {{article.locale_date}}
    </div>

    {% if article.cover %}
    <div class="container article_img">
        <img src="{{article.cover | expand_link(article)}}" alt="{{ article.title }}">
        {% if article.cover_text %}<p>{{ article.cover_text}}</p>{% endif %}
    </div>
    {% endif %}

    <div class="container article_text">
        {{article.content}}
    </div>
</div>
{% endblock content %}
{% block extra_scripts %}
<script type="text/javascript" src="{{SITEURL}}/{{THEME_STATIC_DIR}}slick/slick.min.js"></script>
<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}js/jsmain.js"></script>
{% endblock %}
