<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MTlab</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<!--меню-->
<nav class="navbar navbar-expand-lg navbar-dark header sticky-top">
    <div class="container-fluid">
        <a href="_index.html" class="navbar-brand"><img src="img/logo_white.png"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="_index.html" class="nav-link">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">ИССЛЕДОВАНИЯ</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">РАЗРАБОТКА</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">О НАС</a>
                </li>
                <li class="nav-item  active">
                    <a href="#" class="nav-link">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="contactpic">
        <img src="img/contact.png">
        <div class="contactpic__text">
            <h3 class="contactpic__zag">MTlab</h3>
            <p class="contactpic__desc">на связи</p>
        </div>
    </div>
</div>

<div class="container contacts__header">
    <h3>НАШИ КОНТАКТЫ</h3>
    <hr color="#fff">
</div>

<div class="container contacts__contacts">
    <p><i class="fa fa-envelope"></i><a href="#" class="contacts__link">public@mtlab.su</a></p>
    <p><i class="fa fa-telegram"></i><a href="#">+79995351046</a></p>
</div>

<div class="container contacts__header">
    <h3>НАПИШИ НАМ</h3>
    <hr color="#fff">
</div>

<form>
    <div class="container contacts">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label contacts__label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label contacts__label">Имя Фамилия</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" placeholder="Имя Фамилия">
            </div>
        </div>
        <div class="form-group row">
            <label for="message" class="col-sm-2 col-form-label contacts__label">Сообщение</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="message" rows="3" placeholder="Ваше сообщение"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn contacts__button">Отправить</button>
            </div>
        </div>
    </div>
</form>


<!--соцести-->
<footer>
    <div class="container">
        <div class="row padding text-center">
            <div class="col-12">
                <hr color="#fff">
            </div>
            <div class="col-12 social padding">
                <a href="https://vk.com/mtlab" target="_blank"><i class="fa fa-vk"></i></a>
                <a href="https://www.youtube.com/channel/UCnWwkly4ReKHN9aDT6DCmFA" target="_blank"><i
                        class="icons__item fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="icons__item fa fa-instagram"></i></a>

            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
