<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MTlab</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark header sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="img/logo_white.png"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">БЛОГ</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">
                        УСЛУГИ<b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_target">
                        <ul class="navbar-nav">
                            <a class="dropdown-item" href="#">ПОДВОДНАЯ СЪЕМКА</a>
                            <a class="dropdown-item" href="#">СБОРКА КВЕСТОВ</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">УСЛУГА N</a>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">О НАС</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">НАПИШИ НАМ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col align-self-center">
        <div class="sl">
            <div class="sl__slide">
                <a href="#"><img src="img/1.jpg" class="sl__img">
                    <div class="sl__text">
                        <h3 class="sl__zag">Заголовок 1</h3>
                        <p class="sl__desc">Описание слайда 1</p>
                    </div>
                </a>
            </div>
            <div class="sl__slide">
                <a href="#"><img src="img/2.jpg" class="sl__img"></a>
                <div class="sl__text">
                    <h3 class="sl__zag">Заголовок 2</h3>
                    <p class="sl__desc">Описание слайда 2</p>
                </div>
            </div>
            <div class="sl__slide">
                <a href="#"><img src="img/3.jpg" class="sl__img"></a>
                <div class="sl__text">
                    <h3 class="sl__zag">Заголовок 3</h3>
                    <p class="sl__desc">Описание слайда 3</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid projects__title d-flex">
    <h3>РАЗРАБОТКИ</h3>
    <button type="button" name="button" class="btn project_button">Смотреть больше <i class="fa fa-angle-right"></i>
    </button>
</div>

<div class="projects">
    <div class="projects__slide">
        <a href="#"><img src="img/projects/1.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">ЗЛОЙ МАНИПУЛЯТОР</h3>
            <p class="projects__desc">Как уебу сука</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/2.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">АВТОМАТ</h3>
            <p class="projects__desc">Стреляет лучше калаша</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/3.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">Мобильный робот</h3>
            <p class="projects__desc">НА ЕБУЧИХ ГУСЕНИЦАХ, ДА ЕЩЕ И С ПУШКОЙ, КОТОРАЯ ПОРВЕТ ТЕБЕ АНУС</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/4.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">Андроид SODOMIT</h3>
            <p class="projects__desc">Хорошая батарея, подвижные конечности. Из минусов - постоянно выебывается</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/5.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">Директорские штаны</h3>
            <p class="projects__desc">Так вот же они</p>
        </div>
    </div>
</div>
<div class="container-fluid projects__title d-flex">
    <h3>ИССЛЕДОВАНИЯ</h3>
    <button type="button" name="button" class="btn project_button">Смотреть больше <i class="fa fa-angle-right"></i>
    </button>
</div>

<div class="projects">
    <div class="projects__slide">
        <a href="#"><img src="img/projects/1.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">ЗЛОЙ МАНИПУЛЯТОР</h3>
            <p class="projects__desc">Как уебу сука</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/2.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">АВТОМАТ</h3>
            <p class="projects__desc">Стреляет лучше калаша</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/3.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">Мобильный робот</h3>
            <p class="projects__desc">НА ЕБУЧИХ ГУСЕНИЦАХ, ДА ЕЩЕ И С ПУШКОЙ, КОТОРАЯ ПОРВЕТ ТЕБЕ АНУС</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/4.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">Андроид SODOMIT</h3>
            <p class="projects__desc">Хорошая батарея, подвижные конечности. Из минусов - постоянно выебывается</p>
        </div>
    </div>
    <div class="projects__slide">
        <a href="#"><img src="img/projects/5.png" class="projects__img"></a>
        <div class="projects__text">
            <h3 class="projects__zag">Директорские штаны</h3>
            <p class="projects__desc">Так вот же они</p>
        </div>
    </div>
</div>
<br><br>
<footer>
    <div class="container">
        <div class="row padding text-center">
            <div class="col-12">
                <h4>ПОДПИШИСЬ НА НАШИ СОЦСЕТИ</h4>
                <hr color="#fff">
            </div>
            <div class="col-12 social padding">
                <a href="https://vk.com/mtlab" target="_blank"><i class="fa fa-vk"></i></a>
                <a href="https://www.youtube.com/channel/UCnWwkly4ReKHN9aDT6DCmFA" target="_blank"><i
                        class="icons__item fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="icons__item fa fa-instagram"></i></a>

            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="slick/slick.min.js"></script>
<script src="js/jsmain.js"></script>
</body>
</html>
