<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MTlab</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="top">
    <button type="button" name="button" class="btn btn-warning">Наверх</button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark header">
    <div class="container-fluid">
        <a href="_index.html" class="navbar-brand"><img src="img/logo_white.png"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="_index.html" class="nav-link">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">ИССЛЕДОВАНИЯ</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">РАЗРАБОТКА</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">О НАС</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">КОНТАКТЫ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid article">
    <div class="container article__header">
        <h1>MT.Strobic</h1>
        <h2>Lorem ipsum dolor sit amet</h2>
        <hr>
    </div>

    <div class="container article__header_h3">
        <h3>MT.Strobic</h3>
    </div>

    <div class="container article_img">
        <img src="img/article/strobic.png" alt="MT.Strobic">
        <p>Picture 1 - MT.Strobic</p>
    </div>

    <div class="container article_text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="container article__header_h3">
        <h3>Headline with code</h3>
    </div>

    <div class="container article_text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </div>
    <div class="container article__code pre-scrollable">
<pre><code>&lt;section&gt;
&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
&lt;section&gt;
&lt;section&gt;
&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
&lt;section&gt;
&lt;section&gt;
&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
&lt;section&gt;
lt;section&gt;
&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
&lt;section&gt;
&lt;section&gt;
&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
&lt;section&gt;
&lt;section&gt;
&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
&lt;section&gt; </code></pre>
    </div>

    <div class="container article_text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        <p>List counter:</p>
    </div>

    <div class="container article_list">
        <ol class="list-counter-square">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit</li>
        </ol>
    </div>

    <div class="container article_text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </div>

    <div class="container article_img">
        <img src="img/article/strobic.png" alt="MT.Strobic">
        <p>Picture 2 - MT.Strobic</p>
    </div>

    <div class="container article_text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </div>


    <div class="container article_table table-responsive-sm">
        <p>Table 1 - List of components</p>
        <table class="table">
            <thead class="article_table_dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Component</th>
                <th scope="col">Qty.</th>
                <th scope="col">Designation</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ATMEGA8A-AU</td>
                <td>1</td>
                <td>IC1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>74HC595D</td>
                <td>2</td>
                <td>U1, U2</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>LED 3528</td>
                <td>16</td>
                <td>LED1LED16</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container article__header">
        <hr>
    </div>

</div>


<br><br>
<footer>
    <div class="container">
        <div class="row padding text-center">
            <div class="col-12">
                <hr color="#fff">
            </div>
            <div class="col-12 social padding">
                <a href="https://vk.com/mtlab" target="_blank"><i class="fa fa-vk"></i></a>
                <a href="https://www.youtube.com/channel/UCnWwkly4ReKHN9aDT6DCmFA" target="_blank"><i
                        class="icons__item fa fa-youtube"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="icons__item fa fa-instagram"></i></a>

            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="slick/slick.min.js"></script>
<script src="js/jsmain.js"></script>
</body>
</html>
