/*Спецификация*/

@import "pygments.css";

body {
    font-family: 'Roboto', sans-sans-serif;
    background-color: #141414;

}

h4 {
    color: #fff;
}

.top {
    transition: all .25s ease;
    position: fixed;
    z-index: 15;
    bottom: 25px;
    right: -100px;
    cursor: pointer;
}

.active {
    right: 25px;
}

/*Первый экран*/
.header {
    background-color: black;
}

.navbar-brand img {
    width: 200px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.4em;
}

.dropdown-menu {
    margin-top: 26px;
}

/*стили для продуктов*/
.deskwhite {
    background-color: #171717;
}

.desk {
    margin-top: 65px;
    padding-top: 40px;
}

.desk__product {
    margin-bottom: 40px;
}

.desk__product a {
    text-decoration: none;
}

.desk__img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #d8ae13;


}

.desk__img img {
}

.desk__text {
    color: #eee;
    margin-bottom: 60px;
}

.desk__zag {
    font-weight: 700;
    display: block;
    margin-top: 1vw;
    text-align: center;
}

.desk__desc {
    font-weight: 700;
    color: #ccc;
    display: block;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
    font-size: 20px;
}

.desk__button {
    position: absolute;
    bottom: 0px;
    width: 90%;
    left: 5%;
}

.main__button {
    position: relative;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 375px) {
    .desk__text {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 500px) {
    .desk__desc {
        font-size: 15px;
        margin-top: 2vw;
    }
}

@media screen and (max-width: 500px) {
    .desk__zag {
        font-size: 20px;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}

/*стили для слайдов*/

.sl__slide {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #121212;
    background-position: bottom right;
}

.sl__slide a {
    display: block;
    position: relative;
    height: 100%;
}

@media screen and (max-width: 1500px) {
    .sl__slide {
        background-size: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 1000px) {
    .sl__slide {
        background-size: 140%;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .sl__slide {
        background-size: 180%;
        height: 200px;
    }
}

.sl__text {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    color: #fff;
    text-align: left;
    padding-top: 2vw;
    padding-left: 2vw;
    border-radius: 10px;
}

.sl__zag {
    font-size: 4vw;
}

.sl__text {
    font-size: 2.8vw;
}

img {
    max-width: 100%;
    height: auto;
}


/*стили для слайдов(Разработки и исследования)*/
.projects {
    max-width: 90%;
    margin: 2vw auto;
}

.projects__title {
    margin-top: 100px;
    color: #fff;
    width: 90%;
}

.projects__title h3 {
    padding-top: 10px;
}

.projects__slide {
    margin: 1vw;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
}

.projects__slide:hover {
    background: #fbcc1e;
    color: #121212;
}

.projects__text {
    width: 100%;
    height: 150px;
    text-align: left;
}

.projects__zag {
    font-size: 1.8em;
    text-align: left;
    padding-left: 1vw;
    padding-top: 1vw;
    font-weight: 700;
}

.projects__desc {
    font-size: 1em;
    text-align: left;
    padding-left: 1vw;
    padding-top: 1vw;
}

.project_button {
    background-color: #d8ae13;
    color: #fff;
    margin-left: 2vw;
}

/*футер*/
.social a {
    color: #fff;
    font-size: 40px;
    padding: 20px;

}

/*о нас*/
.picofus {
    position: relative;
}

.picofus__text {
    position: relative;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 0;
    padding-left: 20px;
}

.picofus img {
    position: relative;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid white;
    width: 20%;
    min-width: 150px;
    max-width: 300px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}


.picofus__zag {
    font-size: 3em;
}

.picofus__desc {
    font-size: 1.5em;
}

.aboutus {
    margin-top: 50px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    background-color: #fff;
    color: #000;
    margin-bottom: 50px;
}

.aboutus h3 {
    text-align: center;
    padding-top: 20px;
}

.aboutus p {
    text-align: center;
    padding-bottom: 20px;
}

/*контакты*/

.contacts__contacts {
    color: #fff;
    font-size: 2em;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 70px;
}

.contacts__contacts a {
    text-decoration: none;
    color: inherit;
    margin-left: 0.5em;
}


.contacts__label {
    color: #fff;
}

.contacts__button {
    color: #DDD;
    background-color: #333;
}

.contacts__button:hover {
    color: #FFF;
    background-color: #333;
}

.contacts__header {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

.contactpic img {

    width: 100%;
    height: auto;


}

.contactpic__zag {
    font-size: 6vw;
}

.contactpic__desc {
    font-size: 3vw;
}

.contactpic__text {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    color: #fff;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.contactpic {
    position: relative;
}

.slick-dots li button:before {
    background-color: white;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .sl {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .sl__text {
        border-radius: 0px;
    }
}


/*стили для статьи проекта*/
.article {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #e8e8e8;
    color: #121212;
}

.article__header {
    max-width: 700px;
    margin-bottom: 20px;
}

.article h1 {
    font-weight: 700;
}

.article h2 {
    font-weight: 700;
    color: #525252;
    font-size: 20px;
    margin-top: -10px;
}

.article_img {
    max-width: 700px;
    margin-bottom: 20px;
}

.article_img img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.article_img p {
    text-align: center;
}

.article__header_h3 {
    max-width: 700px;
    margin-bottom: 20px;
    font-weight: 700;
}

.article__header_h3 h3 {
    font-weight: 700;
    font-size: 22px;
}

.article_text {
    margin-bottom: 20px;
    text-align: left;
    max-width: 700px;
}

.article_text img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.article_text img + em {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.article__code {
    max-width: 700px;
    background-color: #121212;
    text-align: left;
    margin-bottom: 20px;
}

.article__code code {
    color: #fff;
}

.article_table {
    max-width: 700px;
    margin-bottom: 20px;
}

.article_table p {
    text-align: center;
}

.article_table th, td {
    text-align: center;
}

.article_table_dark {
    background-color: #121212;
    color: #fff;
}


.article_list {
    margin-bottom: 20px;
    text-align: left;
    max-width: 700px;
}

.list-counter-square {
    list-style: none;
    counter-reset: list;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list-counter-square > li {
    position: relative;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-left: 2rem;
    margin-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #fff;
    background: #121212;
    white-space: nowrap;
}

.list-counter-square > li:last-child {
    margin-bottom: 0;
}

.list-counter-square > li::before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -2rem;
    top: 0;
    bottom: 0;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    background: rgba(12, 12, 12, .75);
}

.footer__text {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}
